body{
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgb(41, 41, 41)
}

.container{
    display: flex;
    margin: 150px auto;
    width: 600px;
    flex-direction: column;
    justify-content: flex-start;
    border: 2px solid black;
   
}

.buttonContainer{
    display: flex;
    flex-wrap: wrap-reverse;
    background: rgba(255,255,255,0.1);
    
}


button{
    height: 150px;
    font-size: 2em;
    font-weight: bold;
    flex-basis: 25%;
    border: 1px solid rgb(40, 40, 40);
    transition-duration: 0.2s;
    
}

button:active {
    
    transform: scale(0.95);
    
}

#display {
    height: 75px;
    width: 600px;
    background: rgb(180, 180, 180);
    display: flex;
    flex-direction: column;
    font-size: 18px;
    background: linear-gradient(to top left, rgb(125, 141, 141), rgb(188, 203, 203));
    border-radius: 2px;
    
}

#entry {
    font-size: 2.5em;
    align-self: flex-end;
    padding: 15px;
    font-family: Andale Mono,AndaleMono,monospace;
    font-weight: bold;
}

#zero {
    flex-basis: 50%;
}

.operator{
    background: linear-gradient(to top left,rgb(51, 186, 172), rgb(64, 224, 208) );
}

.operator:hover {
    background-image: linear-gradient(to top left, rgb(51,186,174),rgb(163, 249, 245));
}
.numpad {
    background: linear-gradient(to top left, rgb(162, 174, 174), rgb(191, 204, 204));
    
}
.numpad:hover {
    background-image: linear-gradient(to top left, rgb(162,174,174),rgb(235, 245, 245));
}


.miscButton {
    background: linear-gradient(to top left,rgb(255, 165, 0), rgb(236, 186, 93));
}

.miscButton:hover {
    background: linear-gradient(to top left,rgb(255, 165, 0), rgb(255, 226, 171));
}